.card{
    position: relative;
    top: 400px;
    width: 550px;
    margin: 10px;
    padding: 40px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    transition: all 0.5s;
}

.card:hover {
    padding: 40px 100px;
    transition: all 0.5s;
}

.card__title{
  font: 40pt sans-serif;
  color: white;
}

.card__h2{
  font-size: 20pt;
  color: #E4B236;
  margin-top: 60px;
  margin-bottom: 10px;
  text-align: center;
}
