.table{
  border-collapse: collapse;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-radius: 4px;
  border-color: #b0b7c6;
  color: white;
  font: 12pt sans-serif;
  margin-bottom: 40px;
}

.table tr, .table th{
    border: 1px solid #b0b7c6;
    padding: 20px;
}

.table tr:hover{
  background-color: #770707;
  cursor: default;
}

.table tr td{
  padding: 10px 20px;
}
